[user]
  name = Zachary Jones
  email = zachary@jones.cx

[core]
  editor = nvim
  pager = diff-so-fancy | less --tabs=4 -RFX

[fetch]
  prune = true

[diff]
  algorithm = histogram
  tool = Kaleidoscope

[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustExitCode = true

[merge]
  tool = Kaleidoscope

[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"

[difftool]
  prompt = false

[mergetool]
  prompt = false

[color]
  ui = auto

[url "https://github.com/"]
  insteadOf = gh:

# Thorough ####################################################################

[url "https://github.com/thorough-dev/"]
  insteadOf = thor:
[includeIf "gitdir:thorough-dev/"]
  path = "~/.config/gitconfig/thorough"

# Aliases #####################################################################

[alias]
  co = checkout
  ci = commit
  fixup = commit --fixup
